<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
      html, body, #map-canvas { height: 90%; width: 100%; margin: 0; padding: 0; float: left}
      img, h1 {float: left}
      .right-panel {float: left; width: 20%; height: 100%;}
  </style>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZoaZwYV6PlRe0_z3kwhz6gSRn_pOg1oc">
  </script>
  <script type="text/javascript">
      function initialize() {
          var mapOptions = {
              center: { lat: 50.4388394, lng: 30.5147999},
              zoom: 12
          };
          var map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
<div class="header">
  <h1>the dogebox project</h1>
  <img src="http://barkpost-assets.s3.amazonaws.com/wp-content/uploads/2013/11/3dDoge.gif", height="80", width="80">
</div>

<div id="map-canvas"></div>
<h3>much coming soon</h3>
</body>
</html>
