= content_for :title do
  dogebox

%div.cover-container
  %div.masterhead.clearfix
    %div.inner
      %h3.masterhead-brand

  %div.inner.cover
    %h1.cover-heading
      dogebox
    %p.lead
      food sharing platform
    %p.lead
      cooked more than you can eat? share your food with people nearby
    %p.lead
      %a.btn.btn-lg.btn-default{:href => 'main/map'}
        Try now
  %div.mastfoot
    %div.clear
