= content_for :title do
  dogebox map

= content_for :head do
  %script{:type => 'text/javascript', :src  => 'https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZoaZwYV6PlRe0_z3kwhz6gSRn_pOg1oc'}

  :javascript
    var city = new google.maps.LatLng(50.4484234,30.5216194);
    var zoom = 13;
    var new_meal_path = "#{meals_new_path}";
    var meals_show_path = "#{meals_show_path}";


%div.ui-panel
  %button#create-meal-button{:data_toggle => 'modal', :class => 'btn btn-info btn-lg'}
    New meal

%div.content
  %div#map-canvas